@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-dark-color: #104285;
    --blue-color: #1f8bcc;
    --orange-color: #f07d06;
    --bg: #eaeaea;
    --bg-dark: #dedede;
    --bg-gloomy: #d9d9d9;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: var(--bg);
    font-size: 20px;
    font-weight: 400;
    color: var(--blue-dark-color);
}

a {
    text-decoration: none;
    color: var(--blue-dark-color);
    transition: all 0.3s;
}

ul {
    list-style: none;
}

section {
    padding: 3% 15%;
}

h3 {
    font-size: 24px;
}

/* menu */
.logo {
    display: block;
    height: 80px;
    z-index: 25;
}

.nav {
    background-color: var(--bg-dark);
    position: sticky;
    top: 0;
    z-index: 20;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 15%; 
}

.menu__item {
    padding: 25px 0px;
    position: relative;
    float: left;
    width: 14%;
}

.menu-link:hover {
    color: var(--orange-color);
}

.submenu {
    position: absolute;
    left: 0;
    background: var(--bg-dark);
    margin-top: 10px;
    width: 175px;
    transition: all 0.3s;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.submenu__item {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    transition: all 0.3s;
}

.submenu__item:hover {
    text-shadow: 0 0 10px #f07f0686;
}

.menu__item:hover > .submenu {
    visibility: visible;
    opacity: 1;
}

/* menu adaptive */

@media (max-width: 1600px) {
    .menu {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 20px 6%; 
    }
}

@media (max-width: 1200px) {
    .logo {
        height: 50px;
        margin-top: 8px;
    }

    .menu__item {
        width: auto;
    }
}

@media (max-width: 1024px) {
    body {
        font-size: 18px;
    }

    h2 {
        font-size: 20px;
    }
}

@media (max-width: 768px) and (min-width: 320px) {
    body {
        font-size: 16px;
    }
    
    h2 {
        font-size: 18px;
    }

    nav {
        display: none;
    }
}

/* home */

.home {
    background-image: url(../img/texnolider.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: top;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 48px;
    transition: all 0.3s;
}

.title:hover {
    color: var(--orange-color);
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.subtitle {
    font-size: 32px;
    transition: all 0.3s;
}

.subtitle:hover {
    color: var(--orange-color);
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

/* home adaptive */

@media (max-width: 1024px) {
    .home {
        height: 80vh;
        background-position-y: center;
    }
}

@media (max-width: 768px) and (min-width: 320px) {
    .home {
        background: none;
        height: auto;
        background-color: var(--bg-dark);
        padding: 3%;
    }

    .subtitle {
        display: none;
    }
}

/* about the club */

.section-title {
    font-size: 42px;
    margin-bottom: 50px;
    text-align: center;
    transition: all 0.3s;
}

.club__text {
    padding: 1% 10%;
}

/* about the club adaptive */

@media (max-width: 1024px) {
    .section-title {
        margin-bottom: 25px;
        font-size: 36px;
    }

    .club__text {
        text-align: center;
        padding: 1% 0;
    }
}

/* news */

.new {
    background: var(--bg-gloomy);
}

.news-link:hover {
    color: var(--blue-color);
}

.grid * {
    box-sizing: border-box;
    justify-items: center;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    padding: 20px 0;
    
}
/* Кол-во блоков на разных экранах */
@media only screen and (max-width: 1500px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 1100px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
.grid-item {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
    transition: box-shadow .3s;
    width: 100%;
    height: 100%; 
}
.grid-item .image {
    height: 200px;
    overflow: hidden;
}
.grid-item .info {
    position: relative;
    height: calc(100% - 200px);
    padding: 16px 14px 80px 14px;
}
.grid-item:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.grid-item .image img  {
    transition: transform 0.3s ease-in-out;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;    
}
.grid-item:hover .image img  {
    transform: scale(1.1);
}
.info-title {
    color: var(--blue-color);
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}
.info-text p:last-child {
    margin-bottom: 0;
}
.grid-item .button-wrap {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 14px;
    left: 0;
    text-align: center;
}
/* Кнопка подробнее */
.atuin-btn {
    display: inline-flex;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    background: var(--blue-color);
    cursor: pointer; 
    border: 2px solid #BFE2FF;
}
.atuin-btn:hover,
.atuin-btn:active,
.atuin-btn:focus {
    color: #FFF;
}
.atuin-btn:after,
.atuin-btn:before {
    position: absolute;
    height: 2px;
    left: 50%;
    background: var(--blue-dark-color);
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.atuin-btn:before {
    top: -6px;
}
.atuin-btn:hover:after,
.atuin-btn:hover:before,
.atuin-btn:active:after,
.atuin-btn:active:before,
.atuin-btn:focus:after,
.atuin-btn:focus:before {
    width: 100%;
    left: 0;
}

/* news adaptive */ 
@media (mx-width: 1024px) {
    .info-title {
        font-size: 20px;
    }
}

@media (max-width: 768px) and (min-width: 320px) {
    .info-title {
        font-size: 18px;
    }
}

/* project */
.projects__block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    padding: 20px 0;
    justify-content: center;
}

.projects__block__item {
    transition: all 0.3s ease-in-out;
}

.projects__block__item:hover .item-image img,
.projects__block__item:hover .item-info {
    transform: translateY(-50px);
}

.projects__block__item:hover .projects__block__subtitle {
    opacity: 100;
}

.item-image {
    overflow: hidden;
}

.item-image img  {
    transition: transform 0.3s ease-in-out;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.item-info {
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.projects__block__title {
    margin-top: 15px;
}

.projects__block__subtitle {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}

.read-more {
    color: var(--blue-dark-color);
    font-weight: 700;
    transition: all 0.3s;
}

.read-more:hover {
    color: var(--orange-color);
}

/* project adaptive */
@media only screen and (max-width: 1500px) {
    .projects__block {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 1100px) {
    .projects__block {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 768px) {
    .projects__block {
        grid-template-columns: 1fr;
    }

    .projects__block__subtitle {
        opacity: 1;
    }

    .projects__block__item:hover .item-image img,
    .projects__block__item:hover .item-info {
        transform: translateY(0);
    }

    .item-image img {
        width: 50%;
        display: block;
    }

    .item-image {
        display: flex;
        align-items:center;
  justify-content: center;

    }
}

/* footer */
footer {
    background: var(--blue-dark-color);
    color: var(--bg);
}

.footer {
    padding: 3% 15%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: stretch;
    justify-items: center;
    gap: 20px;
}

.footer__logo img {
    display: block;
}


.footer__documents,
.footer__social,
.footer__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__logo {
    display: flex;
    justify-content: center;
}

.footer__social {
    text-align: center;
}
.social__icon {
    text-align: center;
}

.social__icon-link {
    color: var(--bg);
    transition: all 0.3s;
    font-size: 26px;
}

.social__icon-link:hover,
.fa-solid,
.footer__documents a:hover {
    color: var(--orange-color);
}

.footer__documents a {
    color: var(--bg);
    transition: all 0.3s;
}

.footer__documents {
    text-align: center;
}

.copyright {
    text-align: center;
    padding-bottom: 30px;
}

.mail-link {
    color: var(--bg);
}

.line {
    margin: 10px 0;
	height: 3px;
	border: none;
	background: linear-gradient(45deg, var(--blue-dark-color), var(--orange-color), var(--blue-dark-color));
}

/* footer adaptive*/
@media (max-width: 1400px) {
    .footer {
        padding: 3% 6%;
    }
}

@media (max-width: 1100px) {
    .footer {
        grid-template-columns: repeat(2, auto);
    }

    .footer__logo {
        order: 1;
    }

    .footer__documents {
        order: 2;
    }

    .footer__social {
        order: 4;
    }   

    .footer__contact {
        order: 3;
        text-align: center;
    }
}

@media (max-width: 600px) and (min-width: 320px) {
    .footer {
        grid-template-columns: repeat(1, auto);
    }

    .footer__logo {
        order: 1;
    }

    .footer__documents {
        order: 2;
    }

    .footer__social {
        order: 3;
    }   

    .footer__contact {
        order: 4;
    }

     .line {
        margin-top: 20px;
        margin-bottom: 0;
    }

    .documents-file {
        margin-bottom: 6px;
        display: block;
    }

    #border {
        order: 2;
    }

    #save {
        order: 1;
        display: block;
    }

    .footer__social-title {
        margin-bottom: 10px;
    }

    /*  */

    #border2 {
        order: 2;
    }

    #icon {
        order: 1;
    }

}